# Base
PORT=3000

# Prisma
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_project?schema=public"

# JWT
JWT_SECRET="change_me"
JWT_EXPIRES_IN="7d"

# Redis
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# SMTP
SMTP_HOST="smtp.example.com"
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER="user@example.com"
SMTP_PASS="smtp-password"
SMTP_FROM="Nest Project <user@example.com>"

# OpenAI
OPENAI_API_KEY="IeAueSzZvLTujDBcuKyn:lFMMSgIRKuwLRqVPncGh"
OPENAI_BASE_URL="https://spark-api-open.xf-yun.com/v2/"
OPENAI_MODEL="spark-x"
EMBEDDING_API_KEY="4c04d416b2f28eac1e9448289412c7cb:M2EyMjA3ZTU0OTYwNGM1M2Q2ZDg0NDY5"
EMBEDDING_BASE_URL="https://maas-api.cn-huabei-1.xf-yun.com/v2"
EMBEDDING_MODEL = "xop3qwen8bembedding"

